{% extends 'base_page.html' %}

    {% block title %}
           {{ book.title }}
        {% endblock %}

    {% block content_title %}
                Title: {{ book.title }}
    {% endblock %}

     {% block content %}
            Author:
                <h1>
                    {% for aut in author %}
                <a href="{{url_for('authors.author_info', slug=aut.slug)}}">{{aut.name}}<a/>
                    {% endfor %}
                </h1>
            <h1>Annotation:</h1>
           <p>{{ book.annotation }}</p>
    {% endblock %}